<%- include('includes/head2.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <main>
 <!-- in main -->
 <!-- <h2>Credits availabe: 990518</h2> -->
 <!-- <form action="https://foddsdfaosjo.xyz/cart" method="post">
     <button type="submit">Buy</button>
 </form> -->
 <h2> Bill No: <%= bill_no%></h2>
 <h2> Table No: <%= table_no%></h2>
 <h2> Order No: <%= order_no%></h2>
 <div class="grid">
    <table>
    <tr>
        <th>Item No</th>
        <th>Item Name</th>
        <th>Rate</th>
        <th>Quantity</th>
        <th>Amount</th>
    </tr>
    <%for(var ijk = 0;ijk<listp.rows.length; ijk++){ %>  
            <tr>
                <td><%=listp.rows[ijk].num%></td>
                <td><%=listp.rows[ijk].name%></td>
                <td><%=listp.rows[ijk].i_price%></td>
                <td><%=listp.rows[ijk].numitems%></td>
                <td><%=listp.rows[ijk].t_price%></td>
            </tr>
    <%}%>
    </table>
 </div>
 <!-- <div class="grid">
    <%for(var ijk = 0;ijk<listp.rows.length  ;ijk++){ %>  
    <article class="card product-item">
        <header class="card__header">
            <h1 class="product__title">
                <%=listp.rows[ijk].name%>
            </h1>
        </header>
        <div class="card__image">
            <img src=<%="https://cdnimg.webstaurantstore.com/uploads/seo_category/2019/5/table-dining-sets.jpg"%> width="50" height="150" alt="apple">
        </div>
        <div class="card__content">
            <p class="product__description">Item no:
                <%=listp.rows[ijk].num%>
            </p>
            <p class="product__description">Quantity:
                <%=listp.rows[ijk].numitems%>
            </p>
            <p class="product__description">Individual price:
                <%=listp.rows[ijk].i_price%>
            </p>
            <p class="product__description">Total price:
                <%=listp.rows[ijk].t_price%>
            </p>
        </div>
    </article>
    <%}%>
</div> -->
<h2> Net price: <%=price%></h2>
<form action="/cashier2" method="post">
    <button class="btn" type="submit">Pay</button>
    <input type="hidden" name="bill_no" value=<%=bill_no%>>
    <input type="hidden" name="tot_price" value=<%=price%>>
    <input type="hidden" name="table_no" value=<%=table_no%>>
</form>
</main>
<%- include('includes/end.ejs') %>