<%- include('includes/head2.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <main>
    <button><a class="<%= path === '/orders' ? 'active' : '' %>" href="/logout">Logout</a></button>
 <h1>PLACED ORDERS</h1>
 <div class="grid">
    <table>
    <tr>
        <th>Order No</th>
        <th>Item No</th>
        <th>Item Name</th>
        <th>Quantity ordered</th>
        <th>Approve/Decline</th>
    </tr>
    <%for(var ijk = 0;ijk<order.rows.length; ijk++){ %>  
        
        <% if (order.rows[ijk].status == "placed") { %>
            <tr>
                <td><%=order.rows[ijk].order_no%></td>
                <td><%=order.rows[ijk].item_no%></td>
                <td><%=order.rows[ijk].name%></td>
                <td><%=order.rows[ijk].numitems%></td>
                <td>
                    <form action="/chef1" method="post">
                        <button class="btn" type="submit">Approve/Decline</button>
                        <input type="hidden" name="order_no" value=<%=order.rows[ijk].order_no%>>
                        <input type="hidden" name="item_no" value=<%=order.rows[ijk].item_no%>>
                        <input type="hidden" name="numitems" value=<%=order.rows[ijk].numitems%>>
                        <input type="hidden" name="status" value="placed">
                    </form>    
                </td>
            </tr>
        <%}%>
    <%}%>
    </table>
 </div>
 <h1>APPROVED ORDERS</h1>
 <div class="grid">
    <table>
    <tr>
        <th>Order No</th>
        <th>Item No</th>
        <th>Item Name</th>
        <th>Quantity ordered</th>
        <th>Ready option</th>
    </tr>
    <%for(var ijk = 0;ijk<order.rows.length; ijk++){ %>  
        
        <% if (order.rows[ijk].status == "approved") { %>
            <tr>
                <td><%=order.rows[ijk].order_no%></td>
                <td><%=order.rows[ijk].item_no%></td>
                <td><%=order.rows[ijk].name%></td>
                <td><%=order.rows[ijk].numitems%></td>
                <td>
                    <form action="/chef1" method="post">
                        <button class="btn" type="submit">Ready</button>
                        <input type="hidden" name="order_no" value=<%=order.rows[ijk].order_no%>>
                        <input type="hidden" name="item_no" value=<%=order.rows[ijk].item_no%>>
                        <input type="hidden" name="numitems" value=<%=order.rows[ijk].numitems%>>
                        <input type="hidden" name="status" value="approved">
                    </form>    
                </td>
            </tr>
        <%}%>
    <%}%>
    </table>
 </div>
 <h1>INGREDIENTS</h1>
 <div class="grid">
    <table>
    <tr>
        <th>Ingredient id</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Quantity present</th>
    </tr>
    <%for(var ijk = 0;ijk<ingredients.rows.length; ijk++){ %>  
        <tr>
            <td><%=ingredients.rows[ijk].ingredient_id%></td>
            <td><%=ingredients.rows[ijk].name%></td>
            <td><%=ingredients.rows[ijk].unit%></td>
            <td><%=ingredients.rows[ijk].quantity%></td>
        </tr>
    <%}%>
    </table>
 </div>
</main>
<%- include('includes/end.ejs') %>