<%- include('includes/head2.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('includes/navigation_manager.ejs') %> 
    <main>

 
 <h1>FEEDBACKS</h1>
    <div class="grid">
        <table>
        <tr>
            <th>S.no.</th>
            <th>Name of customer</th>
            <th>Feedback</th>
        </tr>
        <%for(var ijk = 0;ijk<feedback_rows.length; ijk++){ %>  
                <tr>
                    <td><%=ijk+1%></td> 
                    <td><%= feedback_rows[ijk].name%></td>
                    <td><%= feedback_rows[ijk].comment%></td>
                </tr>
        <%}%>
        </table>
     </div>
 
     <h1>MONEYFLOW</h1>
     <div class="grid">
         <table>
         <tr>
             <th>S.no.</th>
             <th>time</th>
             <th>amount</th>
             <th>io_check</th>
         </tr>
         <%for(var ijk = 0;ijk<moneyflow_rows.length; ijk++){ %>  
                 <tr>
                     <td><%=ijk+1%></td> 
                     <td><%= moneyflow_rows[ijk].entrytime%></td>
                     <td><%= moneyflow_rows[ijk].amount%></td>
                     <td><%= moneyflow_rows[ijk].io_check%></td>
                 </tr>
         <%}%>
         </table>
      </div>
</main>

<%- include('includes/end.ejs') %>